* linguist-vendored
*.CMake linguist-vendored=false
*.dart linguist-vendored=true
*.flutter linguist-vendored=true
*.c++ linguist-vendored=false
*.c linguist-vendored=false
*.html linguist-vendored=false
*.kotlin linguist-vendored=false
